body {
    text-align: center;
    background-color: #000;
    color: #FFF;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: #0F0;
}
#logo {
    height: 270px;
}
.cover {
    width: 200px;
    height: 300px;
}
#flex {
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: 320px 320px 320px 320px;
    justify-content: center;
}
#flex div {
    padding: 0px 30px 0px 30px;
}
#change_episode {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 20px;
}
#child {
    margin-bottom: 20px;
}