header {
    font-size: 25px;
}
body, div {
    margin: 0px;
    font-family: sans-serif;
}
#top-bar {
    background-color: #000;
    padding: 12px;
    position: relative;
    z-index: 100;
}
#top-bar div {
    font-size: 40px;
    color: #FFF;
}
#nav li {
    list-style: none;
    padding: 30px 40px;
}
#nav div {
    padding: 0px;
}
#nav div:hover {
    background-color: rgb(0, 195, 255);
    border: 2px solid #FFF;
    border-radius: 10px;
}
#nav a {
    text-decoration: none;
    color:#FFF;
}
#nav i {
    width: 30px;
    color: #FFF;
}
#nav {
    background: linear-gradient(#000, #0000);
    margin-top: -100%;
}
@keyframes appear {
    0% {
        margin-top: -100%;
    }
    100% {
        margin-top: 0%;
    }
}
@keyframes disappear {
    0% {
        margin-top: 0%;
    }
    100% {
        margin-top: -100%;
    }
}
@media screen and (min-width: 900px) {
    #top-bar {
        display: none;
    }
    #nav {
        margin-top: 0%;
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width: 2880px) {
    body {
        background-size: cover;
    }
}