#search {
    margin-bottom: 40px;
}
#search input[type="text"] {
    max-width: 250px;
    width: 80%;
    line-height: 3em;
    font-family: sans-serif;
    margin: 1em 2em;
    border-radius: 5px;
    border: 2px solid #f2f2f2;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
}